.container{
  background-color: #FC8A06;
  padding: 1% 1%;
}
.menu_item{
  font-weight: bold;
  color: white;
  margin-left: 2%;
  cursor: pointer;
 
}

@media (max-width: 768px){
  .container{
    font-size: 5px;
  }
}